body{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    width:300px;
    margin:auto;
}

#app h2{
   font-size: 20px;
   border-bottom: 1px solid #ddd; 
   padding:15px 0;
}

#app li{
    line-height: 2;
}

#app input[type="text"]{
    padding:2px;
}

.command{
    font-size:14px;
    cursor:pointer;
    color:#08c;
}

#app ul{
    padding:0;
    list-style:none;
}

#app li > span.done{
    text-decoration: line-through;
    color:#bbb; 
}